<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/games/guessPic.css">
</head>
<body>
    <div class="container">
        <% if(!locals.endgame) { %>
        <div id="countdown-overlay">
            <div id="countdown-text">Ready?</div>
        </div>


        <div id = "game-start-div">
            <h1 class = "hidden">Guess the Picture</h1>
            <div id="game-container" class = "hidden">
                <img id = "picture" src="" alt="">
                <canvas id="mask" width="800" height="500"></canvas>
            </div>
            <p id="timer" class = "hidden">Time Left: 60</p>
            <div id="choices" class = "hidden">
                
                <button class="choice" id = "option_1"></button>
                <button class="choice" id = "option_2"></button>
                <button class="choice" id = "option_3"></button>
                <button class="choice" id = "option_4"></button>
                <input type="hidden" value = "" id = "correct_answer">
            </div>
        </div>

        <input type="hidden" value = "" id = "userPlaying">
        <% } else { %>


        <% } %>
       
    </div>
  
    <script src = "/js/game/guessThePic.js" charset= "UTF-8"></script>
</body>
</html>