/* Reset body and html to remove default margin and padding */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensure consistent box model */
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Apply box-sizing to all elements */
*, *::before, *::after {
    box-sizing: inherit;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #292b2c;
    color: white;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Ensure header contents do not exceed 100% width */
.header #buttons a {
    text-decoration: none;
    margin-right: 10px;
    color: white;
    font-size: 30px;
    display: inline-flex;
    align-items: center;
    transition: color 0.3s ease;
}  

.header #buttons i:hover {
    color: #f39c12;
}

#buttons i {
    font-size: 20px;
    color: #333;
}